In [1]:
for i in range(1,2):
    print(i)

1

In [24]:

columnas_df =[
  'mcuentas_saldo','mcuentas_saldo_lag_2', 'mcuentas_saldo_delta_1', 'mcuentas_saldo_delta_2', 'mcuentas_saldo_max', 'mcuentas_saldo_min',
 'mactivos_margen','mactivos_margen_lag_1', 'mactivos_margen_lag_2', 'mactivos_margen_delta_1', 'mactivos_margen_delta_2', 'mactivos_margen_max', 'mactivos_margen_min',
 'mcomisiones_mantenimiento','mcomisiones_mantenimiento_lag_1', 'mcomisiones_mantenimiento_lag_2', 'mcomisiones_mantenimiento_delta_1', 'mcomisiones_mantenimiento_max', 'mcomisiones_mantenimiento_min'
]
columnas_variables = ["mcuentas_saldo" , "mactivos_margen" , "mcomisiones_mantenimiento"]
columnas_features=[""]
cols_a_dropear =[]
for cv in columnas_variables:
    for cf in columnas_features:
        cols_a_dropear.append(cv+cf)
cols_a_dropear = [c for c in cols_a_dropear if c in columnas_df]
cols_a_dropear

['mcuentas_saldo', 'mactivos_margen', 'mcomisiones_mantenimiento']

In [29]:
variables_percentiles=['mcuentas_saldo_percentil', 'mactivos_margen_percentil', 'mcomisiones_mantenimiento_percentil', 'mcomisiones_otras_percentil', 'mtransferencias_recibidas_percentil', 
                       'mtransferencias_emitidas_percentil', 'mcheques_emitidos_percentil', 'mcheques_depositados_percentil', 'mtarjetas_consumo_percentil', 'mtarjetas_pago_percentil', 'mvisa_consumos_percentil', 'mvisa_pagos_percentil', 'mvisa_saldo_percentil', 'mmaster_consumos_percentil', 'mmaster_pagos_percentil', 
                       'mmaster_saldo_percentil', 'mprestamos_personales_percentil', 'mprestamos_prendarios_percentil', 'mprestamos_hipotecarios_percentil', 'mplazo_fijo_monto_percentil']
list(map(lambda x : x[0:len(x)-len("_percentil")] , variables_percentiles))

['mcuentas_saldo',
 'mactivos_margen',
 'mcomisiones_mantenimiento',
 'mcomisiones_otras',
 'mtransferencias_recibidas',
 'mtransferencias_emitidas',
 'mcheques_emitidos',
 'mcheques_depositados',
 'mtarjetas_consumo',
 'mtarjetas_pago',
 'mvisa_consumos',
 'mvisa_pagos',
 'mvisa_saldo',
 'mmaster_consumos',
 'mmaster_pagos',
 'mmaster_saldo',
 'mprestamos_personales',
 'mprestamos_prendarios',
 'mprestamos_hipotecarios',
 'mplazo_fijo_monto']

In [30]:
variables_percentiles_2 = [c for c in variables_percentiles if c.endswith("_percentil")]

In [31]:
variables_percentiles_2

['mcuentas_saldo_percentil',
 'mactivos_margen_percentil',
 'mcomisiones_mantenimiento_percentil',
 'mcomisiones_otras_percentil',
 'mtransferencias_recibidas_percentil',
 'mtransferencias_emitidas_percentil',
 'mcheques_emitidos_percentil',
 'mcheques_depositados_percentil',
 'mtarjetas_consumo_percentil',
 'mtarjetas_pago_percentil',
 'mvisa_consumos_percentil',
 'mvisa_pagos_percentil',
 'mvisa_saldo_percentil',
 'mmaster_consumos_percentil',
 'mmaster_pagos_percentil',
 'mmaster_saldo_percentil',
 'mprestamos_personales_percentil',
 'mprestamos_prendarios_percentil',
 'mprestamos_hipotecarios_percentil',
 'mplazo_fijo_monto_percentil']

In [32]:
len(variables_percentiles)

20

In [33]:
len(variables_percentiles_2)

20

In [41]:
meses_a_dropear=[202106 ]
query_meses = f"({meses_a_dropear[0]}"
for m in meses_a_dropear[1:]:
    query_meses+= f", {m}"
query_meses+= ")"
query_meses

'(202106)'

In [ ]:
[201900+c for c in range(1,13)] + [202000+c for c in range(1,13)] + [202106]

[201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006,
 202007,
 202008,
 202009,
 202010,
 202011,
 202012]

In [12]:
import numpy as np
import pandas as pd
df=pd.read_csv("datasets/competencia_01.csv")
col_drops=["numero_de_cliente","foto_mes","active_quarter","clase_ternaria","cliente_edad","cliente_antiguedad"
        ,"Visa_fultimo_cierre","Visa_fultimo_cierre","Master_fultimo_cierre","Visa_Fvencimiento",
        "Master_Fvencimiento"]

lista_t=[c for c in list(map(lambda x : x if x[0]=='t' and x not in col_drops else np.nan ,df.columns )) if pd.notna(c)]
lista_c=[c for c in list(map(lambda x : x if x[0]=='c' and x not in col_drops else np.nan ,df.columns )) if pd.notna(c)]
lista_m=[c for c in list(map(lambda x : x if x[0]=='m' and x not in col_drops else np.nan ,df.columns )) if pd.notna(c)]
lista_r=[c for c in df.columns if c not in (lista_t + lista_c + lista_m +col_drops )]

C:\Users\chris\AppData\Local\Temp\ipykernel_10080\1751280187.py:3: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("datasets/competencia_01.csv")

In [13]:
len(lista_t+lista_c+lista_m+lista_r +col_drops)

156

In [19]:
lista_c

['cliente_vip',
 'cproductos',
 'ccuenta_corriente',
 'ccaja_ahorro',
 'cdescubierto_preacordado',
 'ctarjeta_debito',
 'ctarjeta_debito_transacciones',
 'ctarjeta_visa',
 'ctarjeta_visa_transacciones',
 'ctarjeta_master',
 'ctarjeta_master_transacciones',
 'cprestamos_personales',
 'cprestamos_prendarios',
 'cprestamos_hipotecarios',
 'cplazo_fijo',
 'cinversion1',
 'cinversion2',
 'cseguro_vida',
 'cseguro_auto',
 'cseguro_vivienda',
 'cseguro_accidentes_personales',
 'ccaja_seguridad',
 'cpayroll_trx',
 'cpayroll2_trx',
 'ccuenta_debitos_automaticos',
 'ctarjeta_visa_debitos_automaticos',
 'ctarjeta_master_debitos_automaticos',
 'cpagodeservicios',
 'cpagomiscuentas',
 'ccajeros_propios_descuentos',
 'ctarjeta_visa_descuentos',
 'ctarjeta_master_descuentos',
 'ccomisiones_mantenimiento',
 'ccomisiones_otras',
 'cforex',
 'cforex_buy',
 'cforex_sell',
 'ctransferencias_recibidas',
 'ctransferencias_emitidas',
 'cextraccion_autoservicio',
 'ccheques_depositados',
 'ccheques_emitidos',
 'ccheques_depositados_rechazados',
 'ccheques_emitidos_rechazados',
 'ccallcenter_transacciones',
 'chomebanking_transacciones',
 'ccajas_transacciones',
 'ccajas_consultas',
 'ccajas_depositos',
 'ccajas_extracciones',
 'ccajas_otras',
 'catm_trx',
 'catm_trx_other',
 'ctrx_quarter',
 'cmobile_app_trx']

In [14]:
lista_t

['tcuentas', 'tcallcenter', 'thomebanking', 'tmobile_app']

In [18]:
lista_m

['mrentabilidad',
 'mrentabilidad_annual',
 'mcomisiones',
 'mactivos_margen',
 'mpasivos_margen',
 'mcuenta_corriente_adicional',
 'mcuenta_corriente',
 'mcaja_ahorro',
 'mcaja_ahorro_adicional',
 'mcaja_ahorro_dolares',
 'mcuentas_saldo',
 'mautoservicio',
 'mtarjeta_visa_consumo',
 'mtarjeta_master_consumo',
 'mprestamos_personales',
 'mprestamos_prendarios',
 'mprestamos_hipotecarios',
 'mplazo_fijo_dolares',
 'mplazo_fijo_pesos',
 'minversion1_pesos',
 'minversion1_dolares',
 'minversion2',
 'mpayroll',
 'mpayroll2',
 'mcuenta_debitos_automaticos',
 'mttarjeta_visa_debitos_automaticos',
 'mttarjeta_master_debitos_automaticos',
 'mpagodeservicios',
 'mpagomiscuentas',
 'mcajeros_propios_descuentos',
 'mtarjeta_visa_descuentos',
 'mtarjeta_master_descuentos',
 'mcomisiones_mantenimiento',
 'mcomisiones_otras',
 'mforex_buy',
 'mforex_sell',
 'mtransferencias_recibidas',
 'mtransferencias_emitidas',
 'mextraccion_autoservicio',
 'mcheques_depositados',
 'mcheques_emitidos',
 'mcheques_depositados_rechazados',
 'mcheques_emitidos_rechazados',
 'matm',
 'matm_other']

In [17]:
lista_r

['internet',
 'Master_delinquency',
 'Master_status',
 'Master_mfinanciacion_limite',
 'Master_Finiciomora',
 'Master_msaldototal',
 'Master_msaldopesos',
 'Master_msaldodolares',
 'Master_mconsumospesos',
 'Master_mconsumosdolares',
 'Master_mlimitecompra',
 'Master_madelantopesos',
 'Master_madelantodolares',
 'Master_mpagado',
 'Master_mpagospesos',
 'Master_mpagosdolares',
 'Master_fechaalta',
 'Master_mconsumototal',
 'Master_cconsumos',
 'Master_cadelantosefectivo',
 'Master_mpagominimo',
 'Visa_delinquency',
 'Visa_status',
 'Visa_mfinanciacion_limite',
 'Visa_Finiciomora',
 'Visa_msaldototal',
 'Visa_msaldopesos',
 'Visa_msaldodolares',
 'Visa_mconsumospesos',
 'Visa_mconsumosdolares',
 'Visa_mlimitecompra',
 'Visa_madelantopesos',
 'Visa_madelantodolares',
 'Visa_mpagado',
 'Visa_mpagospesos',
 'Visa_mpagosdolares',
 'Visa_fechaalta',
 'Visa_mconsumototal',
 'Visa_cconsumos',
 'Visa_cadelantosefectivo',
 'Visa_mpagominimo']

Seguros

In [20]:
[c for c in df.columns if 'segur' in c]

['cseguro_vida',
 'cseguro_auto',
 'cseguro_vivienda',
 'cseguro_accidentes_personales',
 'ccaja_seguridad']

Prestamos

In [25]:
[c for c in df.columns if 'prest' in c and c[0]=="m"]

['mprestamos_personales', 'mprestamos_prendarios', 'mprestamos_hipotecarios']

cuenta o caja ahorro

In [32]:
[c for c in df.columns if "cuenta" in c or "ahorro" in c and c[0]=="m"]

['tcuentas',
 'ccuenta_corriente',
 'mcuenta_corriente_adicional',
 'mcuenta_corriente',
 'mcaja_ahorro',
 'mcaja_ahorro_adicional',
 'mcaja_ahorro_dolares',
 'mcuentas_saldo',
 'ccuenta_debitos_automaticos',
 'mcuenta_debitos_automaticos',
 'cpagomiscuentas',
 'mpagomiscuentas']

tarjetas

In [ ]:
[c for c in df.columns if 'tarjeta' in c and c[0]=="m"]

['mtarjeta_visa_consumo',
 'mtarjeta_master_consumo',
 'mttarjeta_visa_debitos_automaticos',
 'mttarjeta_master_debitos_automaticos',
 'mtarjeta_visa_descuentos',
 'mtarjeta_master_descuentos']

Digitales

In [26]:
[c for c in df.columns if c[0]=="t"]

['tcuentas', 'tcallcenter', 'thomebanking', 'tmobile_app']

In [ ]:
df=pd.read_csv("datasets/competencia_01.csv")
dict_prod_serv={
"productos_master_visa" : [
"Master_msaldototal","Master_mconsumototal","Master_mpagado","Master_mlimitecompra",
"Visa_msaldototal","Visa_mconsumototal","Visa_mpagado","Visa_mlimitecompra"],

"columnas_cuentas" : ['mcuenta_corriente','mcaja_ahorro','mcaja_ahorro_dolares','mcuentas_saldo',
                    'mcuenta_corriente_adicional','mcaja_ahorro_adicional'],
"columnas_tarjetas" :[c for c in df.columns if 'tarjeta' in c and c[0]=="m"],
"columnas_prestamos" : [c for c in df.columns if 'prest' in c and c[0]=="m"],
"columnas_inversiones" : ['mplazo_fijo_pesos','mplazo_fijo_dolares',
                        'minversion1_pesos','minversion1_dolares','minversion2'],
"columnas_digitales" : [c for c in df.columns if c[0]=="t"],
"columnas_servicios" : ['mpagodeservicios','mpagomiscuentas','mcuenta_debitos_automaticos'
                        ,'mforex_buy','mforex_sell','mtransferencias_recibidas','mtransferencias_emitidas',
                        'mextraccion_autoservicio','mcheques_depositados','mcheques_emitidos','mcajeros_propios_descuentos'],
"columnas_seguros" : [c for c in df.columns if 'segur' in c]}

C:\Users\chris\AppData\Local\Temp\ipykernel_10080\3613565811.py:1: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("datasets/competencia_01.csv")

In [34]:
for p_s, cols in dict_prod_serv.items():
    nombre_columna = f"suma_de_{p_s}"

    sql="create or replace table df_completo as "
    sql+="select *, "
    for i,c in enumerate(cols) :
        if i==0:
            sql+=f"if({c}>0, 1,0)"
        else:
            sql+=f"+ if({c}>0,1,0)"
    sql+=f" as {nombre_columna}"
    sql+=" from df_completo"
    print(sql)
    print("===========================================")

create or replace table df_completo as select *, if(Master_msaldototal>0, 1,0)+ if(Master_mconsumototal>0,1,0)+ if(Master_mpagado>0,1,0)+ if(Master_mlimitecompra>0,1,0)+ if(Visa_msaldototal>0,1,0)+ if(Visa_mconsumototal>0,1,0)+ if(Visa_mpagado>0,1,0)+ if(Visa_mlimitecompra>0,1,0) as suma_de_master_visa_servicios from df_completo
===========================================
create or replace table df_completo as select *, if(mcuenta_corriente>0, 1,0)+ if(mcaja_ahorro>0,1,0)+ if(mcaja_ahorro_dolares>0,1,0)+ if(mcuentas_saldo>0,1,0)+ if(mcuenta_corriente_adicional>0,1,0)+ if(mcaja_ahorro_adicional>0,1,0) as suma_de_columnas_cuentas from df_completo
===========================================
create or replace table df_completo as select *, if(mtarjeta_visa_consumo>0, 1,0)+ if(mtarjeta_master_consumo>0,1,0)+ if(mttarjeta_visa_debitos_automaticos>0,1,0)+ if(mttarjeta_master_debitos_automaticos>0,1,0)+ if(mtarjeta_visa_descuentos>0,1,0)+ if(mtarjeta_master_descuentos>0,1,0) as suma_de_columnas_tarjetas from df_completo
===========================================
create or replace table df_completo as select *, if(mprestamos_personales>0, 1,0)+ if(mprestamos_prendarios>0,1,0)+ if(mprestamos_hipotecarios>0,1,0) as suma_de_columnas_prestamos from df_completo
===========================================
create or replace table df_completo as select *, if(mplazo_fijo_pesos>0, 1,0)+ if(mplazo_fijo_dolares>0,1,0)+ if(minversion1_pesos>0,1,0)+ if(minversion1_dolares>0,1,0)+ if(minversion2>0,1,0) as suma_de_columnas_inversiones from df_completo
===========================================
create or replace table df_completo as select *, if(tcuentas>0, 1,0)+ if(tcallcenter>0,1,0)+ if(thomebanking>0,1,0)+ if(tmobile_app>0,1,0) as suma_de_columnas_digitales from df_completo
===========================================
create or replace table df_completo as select *, if(mpagodeservicios>0, 1,0)+ if(mpagomiscuentas>0,1,0)+ if(mcuenta_debitos_automaticos>0,1,0)+ if(mforex_buy>0,1,0)+ if(mforex_sell>0,1,0)+ if(mtransferencias_recibidas>0,1,0)+ if(mtransferencias_emitidas>0,1,0)+ if(mextraccion_autoservicio>0,1,0)+ if(mcheques_depositados>0,1,0)+ if(mcheques_emitidos>0,1,0)+ if(mcajeros_propios_descuentos>0,1,0) as suma_de_columnas_servicios from df_completo
===========================================
create or replace table df_completo as select *, if(cseguro_vida>0, 1,0)+ if(cseguro_auto>0,1,0)+ if(cseguro_vivienda>0,1,0)+ if(cseguro_accidentes_personales>0,1,0)+ if(ccaja_seguridad>0,1,0) as suma_de_columnas_seguros from df_completo
===========================================

In [1]:
[201900 + m for m in range(1,13)]

[201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912]

In [2]:
lista = [5]
lista[-1]

5

In [4]:
from src.config import *

In [9]:
import duckdb
from src.config import *
sql=f" select * from df"
conn=duckdb.connect(PATH_DATA_BASE_DB)
df=conn.execute(sql).df()
conn.close()

In [5]:
PATH_DATA_BASE_DB

'datasets/base_de_datos.duckdb'

In [10]:
df.columns

Index(['numero_de_cliente', 'foto_mes', 'active_quarter', 'cliente_vip',
       'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad',
       'mrentabilidad_annual', 'mcomisiones',
       ...
       'suma_de_seguros_productos_delta_1',
       'suma_de_seguros_productos_delta_2', 'tcuentas_delta_1',
       'tcuentas_delta_2', 'tcallcenter_delta_1', 'tcallcenter_delta_2',
       'thomebanking_delta_1', 'thomebanking_delta_2', 'tmobile_app_delta_1',
       'tmobile_app_delta_2'],
      dtype='object', length=788)

In [11]:
const_cols = [c for c in df.columns if df[c].nunique(dropna=False) <= 1]

In [12]:
const_cols

[]

In [1]:
[202000+c for c in range(5,13)]+[202100+c for c in range(1,4)]

[202005,
 202006,
 202007,
 202008,
 202009,
 202010,
 202011,
 202012,
 202101,
 202102,
 202103]

In [1]:
feature_subset=["casa","carro","celular"]
exclude=''
if feature_subset is not None:
    for i,f in enumerate(feature_subset):
        if i ==0:
            exclude+=f'({f}'
        else:
            exclude+=f',{f}'
    exclude+=')'

In [2]:
exclude

'(casa,carro,celular)'

In [4]:
n_canaritos=1
for c in range(1,n_canaritos+1):
    print(c)

1

In [5]:
dicc={0:{"params":[1,2,3] , "best_iter":3},1:{"params":[4,5,6] , "best_iter":4} }
for i,orden in enumerate(dicc):
    print(dicc)

{0: {'params': [1, 2, 3], 'best_iter': 3}, 1: {'params': [4, 5, 6], 'best_iter': 4}}
{0: {'params': [1, 2, 3], 'best_iter': 3}, 1: {'params': [4, 5, 6], 'best_iter': 4}}

In [ ]:
dicc={0:{"params":[1,2,3] , "best_iter":3}, }

In [1]:
[f"lag_{i}" for i in range(1,4)]+[f"delta_{i}" for i in range(1,4)]+["_ratio","_slope","_max","_min","suma_de_",
             "monto_ganancias","monto_gastos","ganancia_gasto_ratio"]

['lag_1',
 'lag_2',
 'lag_3',
 'delta_1',
 'delta_2',
 'delta_3',
 '_ratio',
 '_slope',
 '_max',
 '_min',
 'suma_de_',
 'monto_ganancias',
 'monto_gastos',
 'ganancia_gasto_ratio']

In [1]:
import pandas as pd
df=pd.read_csv("datasets/competencia_01.csv")

C:\Users\chris\AppData\Local\Temp\ipykernel_7384\893587421.py:2: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("datasets/competencia_01.csv")

In [3]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,918105588,202101,1,0,0,61,120,3523.36,43807.16,967.03,...,4.0,0.0,-19941.18,0.0,3632.0,16033.69,20.0,0.0,15307.65,Continua
1,918119003,202101,1,0,1,44,120,8245.74,81380.94,1611.15,...,4.0,0.0,-29325.00,0.0,2902.0,6440.36,1.0,0.0,0.00,Continua
2,918123743,202101,0,0,1,60,120,-42924.73,225427.90,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Continua
3,918123965,202101,1,0,0,34,120,7025.42,58141.36,858.11,...,4.0,0.0,-15387.39,0.0,3640.0,13984.59,18.0,0.0,11952.87,Continua
4,918147740,202101,1,0,0,28,115,276.74,-4763.50,393.81,...,4.0,0.0,-29778.52,0.0,3261.0,19032.80,10.0,0.0,3331.32,Continua

In [7]:
df.columns

Index(['numero_de_cliente', 'foto_mes', 'active_quarter', 'cliente_vip',
       'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad',
       'mrentabilidad_annual', 'mcomisiones',
       ...
       'Visa_fultimo_cierre', 'Visa_mpagado', 'Visa_mpagospesos',
       'Visa_mpagosdolares', 'Visa_fechaalta', 'Visa_mconsumototal',
       'Visa_cconsumos', 'Visa_cadelantosefectivo', 'Visa_mpagominimo',
       'clase_ternaria'],
      dtype='object', length=155)

In [14]:
import numpy as np
np.zeros(shape=(11))

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [17]:
df.columns.get_loc("Visa_fechaalta")

149

In [6]:
from src.config import *
from functools import reduce
import pandas as pd
names_exp=["Intento_local_1"]
mes_test=[202104]
for mt in mes_test:
    logger.info(f"========================Comienzo del analisis en el mes test :{mt} ==============================")
    lists_df=[]
    for i,n_exp in enumerate(names_exp):
        name_file= path_output_exp_prediction+f"experimento_{n_exp}_LGBM_2_SEMILLAS_MES_TEST_{mt}_SEMILLA_ensamble_semillas_fase_testeoprediccion_test_proba.csv"
        print(name_file)
        df_i=pd.read_csv(name_file)
        lists_df.append(df_i)
    dfs_renamed = []
    
    for i, df in enumerate(lists_df):
        df_tmp = df.copy()
        df_tmp = df_tmp.rename(columns={"predicted": f"pred_seed{i}"})
        dfs_renamed.append(df_tmp)
    
    df_final = reduce(lambda left, right: pd.merge(left, right, on="numero_de_cliente", how="inner"),dfs_renamed)

outputs/experimentos_outputs/prediction/experimento_Intento_local_1_LGBM_2_SEMILLAS_MES_TEST_202104_SEMILLA_ensamble_semillas_fase_testeoprediccion_test_proba.csv

In [7]:
df_final

        numero_de_cliente     Predicted
0               905805783  2.990946e-08
1               905840855  1.096606e-03
2               905852307  5.905732e-08
3               905880386  1.049130e-11
4               905931795  5.851637e-04
...                   ...           ...
163413          696941646  2.550032e-03
163414          696956745  3.225001e-07
163415          697013551  1.834612e-04
163416          697219427  1.145009e-12
163417          697390512  8.753217e-09

[163418 rows x 2 columns]

In [1]:
from src.preprocesamiento import verificacion_o_creacion_tabla
verificacion_o_creacion_tabla()

Comienzo del proceso inicial de verif o creacion de df_completo
La tabla existe ? : False
FIN de Comprobando la existencia de la tabla df_completo
Comienzo de la verificacion de la existencia del parquet en datasets/competencia_01_final.parquet
El parquet existe ?: False
Fin de la verificacion de la existencia del parquet en datasets/competencia_01_final.parquet
parquet NO existe en datasets/competencia_01_final.parquet pero si en el bucket
Ejecutar a mano : gsutil cp gs:///home/christian_lombardo14/buckets/b1//datasets/competencia_02_final.parquet /datasets/ y volver el experimento

RuntimeError: No active exception to reraise

# ANALISIS DE FEAT ENG EXP 2

In [26]:
import pandas as pd
df=pd.read_excel("outputs_buckets/outputs_experimentos_outputs_exp_feat_importances_experimento_.c3_exp2_LGBM_50_SEMILLAS_MES_TEST_202104_SEMILLA_26226_fase_testeo_feature_importance_data_frame.xlsx")
df

                              feature  importance  importance_%
0     mcaja_ahorro_ccaja_ahorro_ratio         450      0.646496
1                        ctrx_quarter         409      0.587593
2              mpayroll_percentil_min         382      0.548803
3                    ctrx_quarter_min         377      0.541620
4           monto_ganancias_percentil         341      0.489900
...                               ...         ...           ...
1561                      cinversion1           0      0.000000
1562                      cinversion2           0      0.000000
1563                     cseguro_auto           0      0.000000
1564                    cpayroll2_trx           0      0.000000
1565                  tmobile_app_min           0      0.000000

[1566 rows x 3 columns]

In [29]:
import numpy as np
np.where(df["feature"] =="canarito_1")

(array([169]),)

In [8]:
s="26226"
df.rename(columns={"importance":f"importance_{s}"})

                              feature  importance_26226  importance_%
0     mcaja_ahorro_ccaja_ahorro_ratio               450      0.646496
1                        ctrx_quarter               409      0.587593
2              mpayroll_percentil_min               382      0.548803
3                    ctrx_quarter_min               377      0.541620
4           monto_ganancias_percentil               341      0.489900
...                               ...               ...           ...
1561                      cinversion1                 0      0.000000
1562                      cinversion2                 0      0.000000
1563                     cseguro_auto                 0      0.000000
1564                    cpayroll2_trx                 0      0.000000
1565                  tmobile_app_min                 0      0.000000

[1566 rows x 3 columns]

In [9]:
SEMILLAS = [26226, 27825, 107474, 116740, 146317, 167415, 208497, 229259, 231149, 234054, 243963, 256788, 259621, 282917, 288390, 290827]

for i,s in enumerate(SEMILLAS):
    if i==0:
        df=pd.read_excel(f'outputs_buckets/outputs_experimentos_outputs_exp_feat_importances_experimento_.c3_exp2_LGBM_50_SEMILLAS_MES_TEST_202104_SEMILLA_{s}_fase_testeo_feature_importance_data_frame.xlsx')
        df=df.drop(columns="importance_%" )
        df=df.rename(columns={"importance":f"importance_{s}"})

    else:
        dfi=pd.read_excel(f'outputs_buckets/outputs_experimentos_outputs_exp_feat_importances_experimento_.c3_exp2_LGBM_50_SEMILLAS_MES_TEST_202104_SEMILLA_{s}_fase_testeo_feature_importance_data_frame.xlsx')
        dfi=dfi.drop(columns="importance_%" )
        dfi=dfi.rename(columns={"importance" : f"importance_{s}"})
        df=pd.merge(df,dfi,on="feature")

In [11]:
df

,feature,importance_26226,importance_27825,importance_107474,importance_116740,importance_146317,importance_167415,importance_208497,importance_229259,importance_231149,importance_234054,importance_243963,importance_256788,importance_259621,importance_282917,importance_288390,importance_290827
0,mcaja_ahorro_ccaja_ahorro_ratio,450,379,291,314,343,303,314,458,308,306,422,304,330,243,355,326
1,ctrx_quarter,409,339,382,230,333,452,385,390,433,370,354,436,389,244,327,319
2,mpayroll_percentil_min,382,311,260,356,304,390,267,383,339,324,298,235,413,267,305,347
3,ctrx_quarter_min,377,294,257,340,306,352,305,327,386,379,270,320,313,343,360,290
4,monto_ganancias_percentil,341,355,279,352,332,411,389,291,427,495,334,373,341,284,271,239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,cinversion1,0,2,0,0,0,1,0,1,0,0,0,0,0,2,0,0
1562,cinversion2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1563,cseguro_auto,0,0,1,1,0,0,0,1,0,0,0,0,1,2,1,0
1564,cpayroll2_trx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1565,tmobile_app_min,0,2,1,2,1,1,1,1,1,1,2,1,3,2,4,0

In [19]:
df_feat_imp=df.set_index("feature").sum(axis=1).to_frame(name="importance")
df_feat_imp

                                 importance
feature
mcaja_ahorro_ccaja_ahorro_ratio        5446
ctrx_quarter                           5792
mpayroll_percentil_min                 5181
ctrx_quarter_min                       5219
monto_ganancias_percentil              5514
...                                     ...
cinversion1                               6
cinversion2                               1
cseguro_auto                              7
cpayroll2_trx                             0
tmobile_app_min                          23

[1566 rows x 1 columns]

In [20]:
importancia_total=df_feat_imp["importance"].sum()
df_feat_imp["importance_%"] = df_feat_imp["importance"].apply(lambda row : row/importancia_total)

In [22]:
importancia_total

np.int64(1115208)

In [21]:
df_feat_imp

                                 importance  importance_%
feature
mcaja_ahorro_ccaja_ahorro_ratio        5446  4.883394e-03
ctrx_quarter                           5792  5.193650e-03
mpayroll_percentil_min                 5181  4.645770e-03
ctrx_quarter_min                       5219  4.679844e-03
monto_ganancias_percentil              5514  4.944369e-03
...                                     ...           ...
cinversion1                               6  5.380162e-06
cinversion2                               1  8.966937e-07
cseguro_auto                              7  6.276856e-06
cpayroll2_trx                             0  0.000000e+00
tmobile_app_min                          23  2.062396e-05

[1566 rows x 2 columns]

In [24]:
df_feat_imp=df_feat_imp.sort_values(by="importance",ascending=False)
df_feat_imp.to_excel("outputs_buckets/FEAT_IMPORT_EXP2.xlsx")

In [25]:
df_feat_imp

                                 importance  importance_%
feature
mtarjeta_visa_consumo_percentil        6285      0.005636
mpayroll_percentil                     5908      0.005298
ctrx_quarter                           5792      0.005194
monto_ganancias_percentil              5514      0.004944
mcaja_ahorro_ccaja_ahorro_ratio        5446      0.004883
...                                     ...           ...
cinversion2_delta_2                       0      0.000000
cseguro_auto_delta_1                      0      0.000000
cseguro_vida_delta_1                      0      0.000000
cprestamos_hipotecarios                   0      0.000000
cpayroll2_trx                             0      0.000000

[1566 rows x 2 columns]

In [30]:
df_feat_imp.index

Index(['mtarjeta_visa_consumo_percentil', 'mpayroll_percentil', 'ctrx_quarter',
       'monto_ganancias_percentil', 'mcaja_ahorro_ccaja_ahorro_ratio',
       'ctrx_quarter_min', 'mpayroll_percentil_min',
       'ctarjeta_visa_transacciones', 'mcuentas_saldo_percentil', 'foto_mes',
       ...
       'ccuenta_corriente_delta_3', 'cliente_vip_delta_1',
       'cpayroll2_trx_delta_3', 'cpayroll2_trx_delta_2', 'cinversion2_delta_1',
       'cinversion2_delta_2', 'cseguro_auto_delta_1', 'cseguro_vida_delta_1',
       'cprestamos_hipotecarios', 'cpayroll2_trx'],
      dtype='object', name='feature', length=1566)

In [32]:
[c for c in df_feat_imp.index if c.startswith("canarito")]

['canarito_1', 'canarito_3', 'canarito_5', 'canarito_2', 'canarito_4']

In [34]:
df_feat_imp.loc["canarito_1"]

importance      1574.000000
importance_%       0.001411
Name: canarito_1, dtype: float64

In [35]:
np.where(df_feat_imp["importance"]=="canarito_1")

(array([], dtype=int64),)

In [36]:
df_feat_imp.index.get_loc(key="canarito_1")

118

In [37]:
for i in range(1,6):
    print(df_feat_imp.index.get_loc(key=f"canarito_{i}"))

118
158
121
184
129